:root {
    --opacityBG--: 0;
}

.SkillBg {
    background-color: rgb(198, 199, 212);
    border: 4px solid #32639b;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: var(--opacityBG--);
}

.SkillBgAnim {
    animation: fadeUp 0.25s ease-in-out;
}

.HeadSkill {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.HeadSkill>h2 {
    width: 200px;
    height: auto;
    background-color: #00326b;
    border-radius: 10px;
    color: white;
    z-index: 1;
}

#bgPaper {
    position: absolute;
    z-index: 0;
}

@media screen and (max-width: 600px) {
    .SkillBg {
        width: auto;
        height: auto;
        padding-top: 30px;
        padding-bottom: 50px;
        margin: 0 10px;
    }

    .SkillBg>h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    #bgPaper {
        top: 0;
        left: -35px;
        height: 100%;
        width: 320px;
    }
}

@media screen and (min-width: 400px) {
    .SkillBg {
        width: auto;
        height: auto;
        padding: 40px;
        padding-top: 30px;
        padding-bottom: 50px;
        margin: 0 10px;
        border-radius: 15px;
    }

    #bgPaper {
        top: 0;
        left: -20px;
        height: 100%;
        width: 400px;
    }
}

@media screen and (min-width: 600px) {
    .SkillBg {
        width: auto;
        height: auto;
        padding: 60px;
        padding-top: 30px;
        padding-bottom: 50px;
        margin: 0 10px;
    }


    .SkillBg>h2 {
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }

    #bgPaper {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes fadeUp {
    0% {
        top: 30px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}