:root{
  --spaceNav-- : space-around;
  --HeightNav--: 65px;
  --HeightNavHideMenu--: 40px;
}

.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(214, 213, 214);
    box-shadow: 0px 0px 5px;
    height: var(--HeightNav--);
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: var(--spaceNav--);
    z-index: 1;
}

.NavSpace{

    display: inline-block;
}

.NavLogo{
    padding: 20px;
    text-align: center;
    color: rgb(114, 114, 114);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border-left: 4px solid;
    border-left-color:rgb(114, 114, 114);
}

.BTN{
    background-color: rgb(102, 102, 102);
    width: auto;
    height: auto;
    margin-left: 5px;
    padding: 15px;
    color: white;
    border:1px solid white;
    text-align: center;
    justify-items: center; 
    display: inline-block;
    font-weight: 600;
    border-radius: 10px;
}

.BTN:is(:hover, :focus){
  outline: 2px solid rgb(102, 102, 102);
  outline-offset: 1px;
}

.HighLightBTN{
  outline: 2px solid rgb(102, 102, 102);
  outline-offset: 1px;
}

@media screen and (max-width: 800px) {
  .Navbar{
    height: auto;
  }
  .NavLogo{
    padding: 10px;
    border-left: 5px solid;
    /* margin-left: 10px; */
  }
}

.boxMenu {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    cursor: pointer;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 15px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

.hideMenu{
    background-color: ghostwhite;
    position: absolute;
    top: var(--HeightNavHideMenu--);
    right: -100%;
    width: 80%;
    height: 100vh;
    transition: 0.4s;
    text-align: start;
  }

.showHiddenMenu{
    right: 0;
  }

.hideMenu li, a{
  list-style-type: none;
  padding: 15px 0;
  text-decoration: none;
  font-weight: 800;
  color: #333;
}

.hideMenu a:hover{
  text-decoration: underline red;
  text-decoration-thickness: 5px;  
}

.BorderHideMenu{
  height: var(--HeightNavHideMenu--);
}