.ContactForm {
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.ContactForm>input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 380px;
}


.ContactForm>textarea {
    resize: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 380px;
}

.ContactForm>p>button {
    background-color: #00326b;
    color: rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 600;
}

.ContactForm>p>button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(55, 82, 136);
}

.MessageReceived {
    text-align: center;
    width: 100%;
    font-weight: 700;
    position: relative;
    
}

.MessageSucces {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MessageSucces > h4{
    width: 200px;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    animation: opac 1s ease-out;
}

#bgMessage{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px dashed black;
    animation: rottating 3s ease-out;
}

@keyframes rottating {
    0% {
        border-radius: 0%;
        transform: rotate(0deg);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
    100%{
        border-radius: 100%;
        transform: rotate(360deg);
    }
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .ContactForm {
        text-align: center;
        width: 100%;
    }

    .ContactForm>input {
        padding: 12px 20px;
        width: 100%;
    }


    .ContactForm>textarea {
        padding: 12px 20px;
        width: 100%;
    }

    .MessageReceived {
        text-align: center;
        width: 100%;
        height: 416px;
        font-weight: 700;
        position: relative;
        
    }
    
    .MessageSucces {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .MessageSucces > h4{
        width: 200px;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
     font-size: 0.9em;
    }
    
    #bgMessage{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 10px dashed black;
        animation: rottating 3s ease-out;
    }

}

@media screen and (min-width: 600px) {
    .ContactForm {
        text-align: center;
        width: 100%;
        height: 400px;
    }

    .ContactForm>input {
        padding: 12px 20px;
        width: 100%
    }


    .ContactForm>textarea {
        padding: 12px 20px;
        width: 100%
    }

    .MessageReceived {
        text-align: center;
        width: 100%;
        height: 416px;
        font-weight: 700;
        position: relative;
        
    }
    
    .MessageSucces {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .MessageSucces > h4{
        width: 200px;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
     font-size: 0.9em;
    }
    
    #bgMessage{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 10px dashed black;
        animation: rottating 3s ease-out;
    }
}

@media screen and (min-width: 650px) {

}

@media screen and (min-width: 1000px) {
    
}



/* ANIMATION FORM */
.AnimName {
    animation: fadeDownList 0.25s ease-in both;
    animation-delay: calc(0.25s + 0.5s);
}

.AnimEmail {
    animation: fadeDownList 0.25s ease-in both;
    animation-delay: calc(0.25s + 0.75s);
}

.AnimMessage {
    animation: fadeDownList 0.25s ease-in both;
    animation-delay: calc(0.25s + 1s);
}

.AnimInputText {
    animation: fadeDownList 0.25s ease-in both;
    animation-delay: calc(0.25s + 0.5s);
}

@keyframes fadeDownList {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}