.ContactBg{
    /* background-color: rgb(214, 213, 214); */
    width: auto;
    height: auto;
    padding: 40px;
    margin: 0 10px;
}

@media screen and (max-width: 800px){

}

.imgLogo {
    position: relative;
    top: 5px;
    width: 1.5em;
    margin-right: 10px;
    margin-bottom: 0;
}