.Footer{
    background-color: #03001C;
    color: white;
    width: auto;
    height: auto;
    padding: 5px;
    display: block;
    text-align: center;
    /* margin-top: 50px; */
    margin-bottom: 0;
    z-index: 100;
    position: relative;
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .Footer{
        font-size: 0.5em;
    }
}