.ContactBg{
    background-color: rgb(214, 213, 214);
    width: 300px;
    height: 800px;
    padding: 40px;
    margin: 60px 20px;
}

/* .ContactBg > p{
    height: 5em;
} */

.imgLogo {
    position: relative;
    top: 5px;
    width: 1.5em;
    margin-right: 10px;
    margin-bottom: 0;
}