.MyInfoBg {
    /* background-color: rgb(214, 213, 214); */
    opacity: 80%;
    z-index: 1;
    position: absolute;
}

#myPictureInfo{
    z-index: 1;
    position: absolute;
}

#tapeInfo1{
    z-index: 2;
    position: absolute;
}

#tapeInfo2{
    z-index: 2;
    position: absolute;
}

@media screen and (max-width: 600px) {
    .MyInfoBg {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 20px;
        width: 220px;
        height: 300px;
        border-radius: 20px;
        top: 110px;
    }

    .MyInfoBg>h4 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 0.7em;
        text-align: left;
        font-weight: 400;
    }

    .MyInfoBg>h4>span {
        font-weight: 800;
    }
    #myPictureInfo{
        height: 70px;
        width: 70px;
        top: 20px;
        right: 15px;
        border-radius: 30%;
    }
    #tapeInfo1{
        width: 0px;
        height: 0px;
    
    }
    #tapeInfo2{
        width: 0px;
        height: 0px;
    }
}

@media screen and (min-width: 400px){
    .MyInfoBg {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 20px;
        width: 260px;
        height: 300px;
        border-radius: 20px;
        top: 110px;
    }

    .MyInfoBg>h4 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 0.8em;
        text-align: left;
        font-weight: 400;
    }

    .MyInfoBg>h4>span {
        font-weight: 800;
    }

    #myPictureInfo{
        height: 90px;
        width: 90px;
        top: 15px;
        right: 15px;
        border-radius: 30%;
    }
}
@media screen and (min-width: 600px) {
    .MyInfoBg {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 20px;
        width: 300px;
        height: 220px;
        border-radius: 20px;
        top: 10px;
    }

    .MyInfoBg>h4 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 0.7em;
        text-align: left;
        font-weight: 400;
    }

    .MyInfoBg>h4>span {
        font-weight: 800;
    }
    #myPictureInfo{
        height: 100px;
        width: 100px;
        top: 10px;
        right: 10px;
        border-radius: 30%;
    }
    #tapeInfo1{
        width: 40px;
        height: 50px;
        top: -5px;
        right: 80px;
        transform: rotate(135deg);
    }
    #tapeInfo2{
        width: 40px;
        height: 50px;
        top: 80px;
        right: 2px;
        transform: rotate(135deg);
    }
}

@media screen and (width: 600px) {}

@media screen and (min-width: 700px) {
    .MyInfoBg {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 20px;
        width: 400px;
        height: 280px;
        border-radius: 20px;
        top: 15px;
    }

    .MyInfoBg>h4 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 0.9em;
        text-align: left;
        font-weight: 400;
    }

    .MyInfoBg>h4>span {
        font-weight: 800;
    }
    #myPictureInfo{
        height: 100px;
        width: 100px;
        top: 20px;
        right: 20px;
        border-radius: 30%;
    }
    #tapeInfo1{
        width: 40px;
        height: 50px;
        top: 5px;
        right: 90px;
        transform: rotate(135deg);
    }
    #tapeInfo2{
        width: 40px;
        height: 50px;
        top: 90px;
        right: 10px;
        transform: rotate(135deg);
    }
}

@media screen and (min-width: 1200px) {
    .MyInfoBg {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 40px;
        width: 550px;
        height: 330px;
        border-radius: 20px;
        top: 35px;
    }

    .MyInfoBg>h4 {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 1.1em;
        text-align: left;
        font-weight: 400;
    }

    .MyInfoBg>h4>span {
        font-weight: 800;
    }
    #myPictureInfo{
        height: 150px;
        width: 150px;
        top: 20px;
        right: 20px;
        border-radius: 30%;
    }

    #tapeInfo1{
        width: 60px;
        height: 60px;
        top: 5px;
        right: 125px;
        transform: rotate(135deg);
    }
    #tapeInfo2{
        width: 60px;
        height: 60px;
        top: 125px;
        right: 5px;
        transform: rotate(135deg);
    }
}