.PictureBg {
    width: 200px;
    height: auto;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

#myPicture {
    max-width: 100%;
    height: 210px;
    border-radius: 10%;
    box-shadow: 0 0 1px;
}

#tape1 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
}

#tape2 {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
}

.listIcon {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listIcon>li {
    width: 30px;
    height: 30px;
}

.listIcon>li>a {
    width: 100%;
    height: 100%;
    padding: 0;
}

.listProfileimgLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.listProfileimgLogo:hover {
    filter: drop-shadow(0 0 10px #858585);
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .PictureBg {
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 0;
        width: auto;
        height: 200px;
    }

    #myPicture {
        max-width: 100%;
        height: 150px;
    }

    #tape1 {
        width: 0;
        height: 0;
    }

    #tape2 {
        width: 0;
        height: 0;
    }

    .listIcon {
        display: block;
        margin-top: -10px;
    }

    .listIcon>li {
        width: 25px;
        height: 25px;
        margin-top: 12px;
        margin-left: 13px;
    }

    .listProfileimgLogo {
        width: 25px;
    }

    .listIcon li {
        animation: fadeLeft 0.5s ease-in both;
    }

    .listIcon li:nth-child(1) {
        animation-delay: calc(0.5s + 0.5s);
    }

    .listIcon li:nth-child(2) {
        animation-delay: calc(0.5s + 0.75s);
    }

    .listIcon li:nth-child(3) {
        animation-delay: calc(0.5s + 1s);
    }

    .listIcon li:nth-child(4) {
        animation-delay: calc(0.5s + 1.25s);
    }

}

@media screen and (min-width: 600px) {
    .PictureBg {
        width: 120px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin: 10px 10px;
        justify-content: center;

    }

    #myPicture {
        max-width: 100%;
        height: 150px;
    }

    #tape1 {
        width: 90px;
        height: 70px;
        top: 0px;
        left: -35px;
        transform: scaleX(0.5);
        rotate: -45deg;
    }

    #tape2 {
        width: 90px;
        height: 70px;
        bottom: 70px;
        right: -35px;
        transform: scaleX(0.5);
        rotate: -45deg;
    }

    .listIcon {
        margin-top: -60px;
        margin-left: -5px;
    }

    .listIcon>li {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }

    .listIcon li {
        animation: fadeIn 0.5s ease-in both;
    }

    .listIcon li:nth-child(1) {
        animation-delay: calc(0.5s + 0.5s);
    }

    .listIcon li:nth-child(2) {
        animation-delay: calc(0.5s + 0.75s);
    }

    .listIcon li:nth-child(3) {
        animation-delay: calc(0.5s + 1s);
    }

    .listIcon li:nth-child(4) {
        animation-delay: calc(0.5s + 1.25s);
    }
}

@media screen and (min-width: 700px) {
    .PictureBg {
        width: 200px;
        height: auto;
        margin: 10px 10px;
    }

    #myPicture {
        max-width: 100%;
        height: 210px;
    }

    #tape1 {
        width: 100px;
        height: 100px;
        top: -10px;
        left: -20px;
        transform: scaleX(0.75);
    }

    #tape2 {
        width: 100px;
        height: 100px;
        bottom: 55px;
        right: -20px;
        transform: scaleX(0.75);
    }

    .listIcon {
        margin-top: -40px;
        margin-left: -5px;
    }

    .listIcon>li {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1200px) {
    #myPicture {
        max-width: 150%;
        height: 280px;
        margin-top: 25px;
    }

    #tape1 {
        top: 20px;
        left: -50px;
        transform: scale(1);
    }

    #tape2 {
        bottom: 90px;
        right: -45px;
        transform: scale(1);
    }

    .listIcon {
        margin-top: -55px;
        margin-left: -10px;
    }

    .listIcon>li {
        display: inline-block;
        width: 33px;
        height: 33px;
        margin-left: 13px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}