.PictureBg{
    width: 200px;
    height: 300px;
    margin: 10px 10px;
    border-radius: 30%;
    background-image: url(../picture/my-profile3.jpg);
    background-size: 110%;
    /* background-repeat: no-repeat; */
    background-position: center;
}

/* .MyPicture{
    width: auto;
    height: auto;
} */