.SayhiBg {
    /* background-color: rgb(214, 213, 214); */
    opacity: 80%;
    font-weight: 800;
    z-index: 1;
}

.SayhiBg>h1 {
    /* background-color: #19376D; */  
}

.SayhiBg>h2 {}

.SayhiBg>p {
    text-align: justify;
}

#myName {
    color: rgb(255, 255, 255);
    
    animation: blinkName 30s ease infinite;
    

    font-size: 0.8em;
}

#career {
    color: rgb(240, 77, 77);
    /* background-color: white; */
}

#welcome {
    /* background-color: #19376D; */
}



@media screen and (max-width: 600px) {
    .SayhiBg {
        width: 250px;
        height: auto;
        margin-top: -70px;
        padding: 0;
        font-weight: 800;
    }

    .SayhiBg>h1 {
        text-align: center;
        font-size: 1.2em;
        margin-top: auto;
        margin-bottom: auto;
    }

    .SayhiBg>h2 {
        text-align: center;
        font-size: 1em;
    }

    .SayhiBg>p {
        font-size: 0.7em;
        font-weight: 500;
        margin-top: -0px;
        text-align: justify;
    }

    #myName {
        margin-top: 0;
        margin-bottom: 0;
    }

    #career {
        line-height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    #welcome {
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
        line-height: auto;
    }
}

@media screen and (min-width: 400px) {
    .SayhiBg {
        margin-top: -60px;
        width: 290px;
    }

    .SayhiBg>p {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 600px) {
    .SayhiBg {
        width: 250px;
        height: 250px;
        margin-top: auto;
        margin: 10px 0px;
        padding: 10px;
        font-weight: 800;
    }

    .SayhiBg>h1 {
        font-size: 1.3em;
        margin-top: 0.1em;
        margin-bottom: -0.2em;
        text-align: center;
        display: inline-block;
    }

    .SayhiBg>h2 {
        text-align: left;
        font-size: 1.5em;
    }

    .SayhiBg>p {
        font-size: 0.9em;
        font-weight: 500;
        margin-top: 20px;
        text-align: start;
    }


    #myName {
        font-size: 1em;
        display: inline;
        margin-left: 10px;
    }

    #career {
        line-height: 1.1;
        margin-top: 0em;
        margin-bottom: 1.5em;
    }

    #welcome {
        font-size: 1.3em;
        margin-top: -40px;
        margin-bottom: -15px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 700px) {
    .SayhiBg {
        width: 300px;
        height: 280px;
        font-weight: 800;
    }

    .SayhiBg>h1 {
        font-size: 1.3em;
    }

    .SayhiBg>h2 {
        font-size: 1.7em;
    }

    .SayhiBg>p {
        font-size: 1em;
        font-weight: 500;
    }

    #myName {
        font-size: 1em;
    }

    #career {
        line-height: 1.1;
    }

    #welcome {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1200px) {
    .SayhiBg {
        width: 400px;
        height: 385px;
        margin-left: 20px;
    }

    .SayhiBg>h1 {
        font-size: 2.2em;
    }

    .SayhiBg>h2 {
        font-size: 1.7em;
    }

    #myName {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.5em;
    }

    .SayhiBg>p {
        font-size: 1.5em;
    }
}

@keyframes blinkName {
    0% {
        color: rgb(0, 145, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    5% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    30% {
        color: rgb(255, 106, 0);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    35% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    60% {
        color: rgb(255, 0, 170);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    65% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    100% {
        color: rgb(0, 145, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

}