:root {
    --flipRotate--: 0deg;
}

#TechinIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6C9BCF;
    position: relative;
    width: 100%;
}

#clipboard {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    z-index: 1;
}

#imgClipboard {
    position: absolute;
    z-index: 1;
}

#clipboardBack {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    z-index: 1;
}

#imgClipboardBack {
    position: absolute;
    z-index: 1;
}

.arrowFlip {
    z-index: 2;
    cursor: pointer;
    opacity: 0.5;
}

.arrowFlip:hover{
    opacity: 1;
}

#arrowFlipTextFont {
    position: absolute;
    font-size: 0em;
    background-color: rgb(8, 49, 98);
    border-radius: 10px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#imgArrowFlipFont {
    position: absolute;
    width: 0;
    height: 0;
}

#arrowFlipTextBack {
    position: absolute;
    font-size: 0em;
    background-color: rgb(8, 49, 98);
    border-radius: 10px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#imgArrowFlipBack {
    position: absolute;
    width: 0;
    height: 0;
}

#imgHeadLetter {
    position: absolute;
    z-index: 0;
}

#imgTailLetter {
    position: absolute;
    z-index: 0;
}

#ScrollDown {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#ScrollDown>a {
    position: relative;
    padding-top: 70px;
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: -50px;
}

#ScrollDown>a span {
    position: absolute;
    top: 0;
    right: calc(50% - 15px);
    bottom: 50px;
    left: calc(50% - 15px);
    width: 30px;
    border: 2px solid #fff;
    border-radius: 16px;
}

#ScrollDown>a span::before {
    opacity: 0;
    position: absolute;
    top: 8px;
    right: calc(50% - 3px);
    left: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(202, 120, 120);
    content: '';
    animation: down 1.5s linear infinite;
}

#ScrollDown>a {
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    #TechinIn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #6C9BCF;
        position: relative;
        width: 100%;
    }

    #clipboard {
        width: 100%;
        height: 100%;
        /* animation: clipboardFlipY 2s ease-out; */
    }

    #imgClipboard {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    #arrowFlipTextFont {
        font-size: 0.5em;
        bottom: 2px;
        right: 20px;
    }

    #imgArrowFlipFont {
        width: 25px;
        height: 25px;
        right: 15px;
        bottom: 25px;
        transform: rotate(90deg) scaleX(-1);
    }

    #arrowFlipTextBack {
        font-size: 0.6em;
        bottom: 45px;
        right: 25px;
    }

    #imgArrowFlipBack {
        width: 25px;
        height: 25px;
        right: 25px;
        bottom: 75px;
        transform: rotate(-90deg);
    }

    .arrowFlip:hover #imgArrowFlipFont {
        animation: animFlipRotateFontMax600 1s ease-out infinite;
    }

    .arrowFlip:hover #imgArrowFlipBack {
        animation: animFlipRotateBackMax600 1s ease-out infinite;
    }

    #clipboardBack {
        width: 100%;
        height: 100%;
    }

    #imgClipboardBack {
        left: 0;
        top: 0;
        width: calc(100%);
        height: 100%;
        filter: drop-shadow(0px 0px 5px black);
        margin-top: auto;
    }

    .flipBox {
        background-color: transparent;
        width: auto;
        height: auto;
        perspective: 1000px;
    }

    .flipBoxInner {
        position: relative;
        width: 300px;
        height: 500px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        margin-top: 20px;
    }

    .flipRotate {
        transform: rotateY(var(--flipRotate--));
    }

    .flipBoxFront,
    .flipBoxBack {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flipBoxFront {
        color: black;
    }

    .flipBoxBack {
        color: white;
        transform: rotateY(180deg);
    }

    #imgHeadLetter {
        width: 0;
        height: 0;
    }

    #imgTailLetter {
        width: 0;
        height: 0;
    }

    #ScrollDown {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: auto;
        margin-top: 15px;
        animation: ScrollfadeDownMobileMax600 1s ease;
    }

}

@media screen and (min-width: 400px) {
    .flipBoxInner {
        width: 350px;
        height: 520px;
    }

    #ScrollDown {
        margin-top: 20px;
    }

    #arrowFlipTextBack {
        font-size: 0.6em;
        bottom: 65px;
        right: 30px;
    }

    #imgArrowFlipBack {
        width: 25px;
        height: 25px;
        right: 30px;
        bottom: 95px;
        transform: rotate(-90deg);
    }
}

@media screen and (width: 600px) {
    #imgArrowFlipFont {
        transform: rotate(0deg);
    }

    #imgArrowFlipBack {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 600px) {
    #clipboard {
        margin-top: 0px;
        padding-left: 25px;
        width: 100%;
        height: 100%;
        animation: fadeIn 1s ease;
    }

    #imgClipboard {
        left: -70px;
        top: 0;
        width: calc(100% + 80px);
        height: 100%;
        filter: drop-shadow(0px 0px 5px black);
        margin-top: auto;
    }

    #clipboardBack {
        margin-top: 0px;
        padding-left: 25px;
        width: 100%;
        height: 100%;
    }

    #imgClipboardBack {
        left: -70px;
        top: 0;
        width: calc(100% + 80px);
        height: 100%;
        filter: drop-shadow(0px 0px 5px black);
        margin-top: auto;
    }

    #arrowFlipTextFont {
        font-size: 0.5em;
        bottom: 0;
        right: 35px;
    }

    #imgArrowFlipFont {
        width: 30px;
        height: 30px;
        right: 5px;
        bottom: 10px;

    }

    #arrowFlipTextBack {
        font-size: 0.5em;
        bottom: 1px;
        right: 75px;
    }

    #imgArrowFlipBack {
        width: 30px;
        height: 30px;
        right: 45px;
        bottom: 10px;
        transform: rotateX(-180deg);
    }

    .arrowFlip:hover #imgArrowFlipFont {
        animation: animFlipRotateFont 1s ease-out infinite;
    }

    .arrowFlip:hover #imgArrowFlipBack {
        animation: animFlipRotateBack 1s ease-out infinite;
    }

    #imgHeadLetter {
        width: 160px;
        height: 327px;
        top: -20px;
        right: 340px;
        animation: fadeRightHead600 2s ease;
    }

    #imgTailLetter {
        width: 520px;
        height: 325px;
        top: -20px;
        right: -70px;
        animation: fadeRightTail600 2s ease;
    }

    .flipBox {
        background-color: transparent;
        width: auto;
        height: auto;
        perspective: 1000px;
    }

    .flipBoxInner {
        position: relative;
        width: 420px;
        height: 280px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /*600*/
    .flipRotate {
        transform: rotateX(var(--flipRotate--));
    }

    .flipBoxFront,
    .flipBoxBack {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flipBoxFront {
        color: black;
    }

    .flipBoxBack {
        color: white;
        transform: rotateX(180deg);
    }

    #ScrollDown {
        height: 100px;
        width: 100%;
        padding: 20px;
        margin-top: 50px;
        animation: ScrollfadeDown 1.5s ease;
    }

}

@media screen and (width: 600px) {
    #clipboard {
        margin-top: -18px;
    }

    #clipboardBack {
        margin-top: 20px;
    }
}

@media screen and (min-width: 700px) {
    #clipboard {
        margin-top: 0px;
        padding-top: 15px;
        padding-left: 45px;
        width: 100%;
        height: 100%;
    }

    #imgClipboard {
        left: -70px;
        top: 0;
        width: calc(100% + 80px);
        height: 100%;
    }

    #clipboardBack {
        margin-top: -12px;
        padding-top: 15px;
        padding-left: 45px;
        width: 100%;
        height: 100%;
    }

    #imgClipboardBack {
        left: -70px;
        top: 0;
        width: calc(100% + 80px);
        height: 100%;
    }

    .flipBoxInner {
        width: 550px;
        height: 335px;
    }

    #arrowFlipTextFont {
        font-size: 0.5em;
        bottom: 5px;
        right: 45px;
    }

    #imgArrowFlipFont {
        width: 35px;
        height: 35px;
        right: 10px;
        bottom: 15px;
    }

    #arrowFlipTextBack {
        font-size: 0.6em;
        bottom: 7px;
        right: 95px;
    }

    #imgArrowFlipBack {
        width: 35px;
        height: 35px;
        right: 60px;
        bottom: 20px;
    }

    #imgHeadLetter {
        width: 200px;
        height: 410px;
        top: -30px;
        right: 400px;
        animation: fadeRightHead700 2s ease;
    }

    #imgTailLetter {
        width: 600px;
        height: 410px;
        top: -30px;
        right: -70px;
        animation: fadeRightTail700 2s ease;
    }
}

@media screen and (min-width: 1200px) {
    #clipboard {
        margin-top: 0px;
        padding-top: 15px;
        padding-left: 45px;
        width: 100%;
        height: 100%;
    }

    #imgClipboard {
        left: -130px;
        top: 0;
        width: calc(100% + 140px);
        height: 100%;
    }

    #clipboardBack {
        margin-top: -20px;
        padding-top: 15px;
        padding-left: 45px;
        width: 100%;
        height: 100%;
    }

    #imgClipboardBack {
        left: -130px;
        top: 0;
        width: calc(100% + 140px);
        height: 100%;
    }

    .flipBoxInner {
        width: 700px;
        height: 470px;
    }

    #arrowFlipTextFont {
        font-size: .8em;
        padding-left: 7px;
        padding-right: 7px;
        bottom: 3px;
        right: 60px;
    }

    #imgArrowFlipFont {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
    }

    #arrowFlipTextBack {
        font-size: .8em;
        bottom: 28px;
        right: 80px;
    }

    #imgArrowFlipBack {
        width: 40px;
        height: 40px;
        right: 40px;
        bottom: 45px;
    }

    #imgHeadLetter {
        width: 255px;
        height: 552px;
        top: -31px;
        right: 545px;
        animation: fadeRightHead1200 2s ease;
    }

    #imgTailLetter {
        width: 800px;
        height: 550px;
        top: -30px;
        right: -85px;
        animation: fadeRightTail1200 2s ease;
    }
}

@media screen and (min-width: 1700px) {
    #clipboard {
        z-index: 1;
    }

}

.ScrollDownFadeOut {
    transition: opacity 0.5s;
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes down {
    0% {
        opacity: 0;
        top: 3px;
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 43px;
    }
}

@keyframes fadeRightHead600 {
    0% {
        right: 357px;
        z-index: 0;
    }

    40% {
        right: 357px;
        z-index: 0;
        opacity: 1;
    }

    80% {
        right: 300px;
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeRightHead700 {
    0% {
        right: 405px;
        z-index: 0;
    }

    40% {
        right: 405px;
        z-index: 0;
        opacity: 1;
    }

    80% {
        right: 390px;
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeRightHead1200 {
    0% {
        right: 570px;
        z-index: 0;
    }

    40% {
        right: 570px;
        z-index: 0;
        opacity: 1;
    }

    80% {
        right: 540px;
        opacity: 0
    }

    100% {
        right: 545px;
        opacity: 1;
    }
}

@keyframes fadeRightTail600 {
    0% {
        right: -50px;
        z-index: 2;
    }

    40% {
        right: -50px;
        z-index: 2;
        opacity: 1;
    }

    80% {
        right: -80px;
        opacity: 0
    }

    100% {
        opacity: 1;
        z-index: 0;
        right: -70px;
    }
}

@keyframes fadeRightTail700 {
    0% {
        right: -60px;
        z-index: 2;
    }

    40% {
        right: -60px;
        z-index: 2;
        opacity: 1;
    }

    80% {
        right: -75px;
        opacity: 0
    }

    100% {
        opacity: 1;
        z-index: 0;
        right: -70px;
    }
}

@keyframes fadeRightTail1200 {
    0% {
        right: -60px;
        z-index: 2;
    }

    40% {
        right: -60px;
        z-index: 2;
        opacity: 1;
    }

    80% {
        right: -95px;
        opacity: 0
    }

    100% {
        opacity: 1;
        z-index: 0;
        right: -85px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ScrollfadeDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes clipboardFlipY {
    0% {
        transform: rotateY(10deg) skewY(-10deg) scaleY(0.1);
        opacity: 0.7;
    }

    30% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(0deg) skewY(0deg) scaleY(1);
        opacity: 1;
    }
}

@keyframes ScrollfadeDownMobile {
    0% {
        opacity: 0;
        margin-top: -200px;
    }

    100% {
        opacity: 1;
        margin-top: -180px;
    }
}

@keyframes ScrollfadeDownMobileMax600 {
    0% {
        opacity: 0;
        margin-top: 0px;
    }

    100% {
        opacity: 1;
        margin-top: 15px;
    }
}

@keyframes animFlipRotateFontMax600 {
    0% {
        transform:  rotate(90deg) scaleX(-1);
    }

    50% {
        transform:  rotate(110deg) scaleX(-1);
    }

    100% {
        transform:  rotate(90deg) scaleX(-1);
    }
}
@keyframes animFlipRotateBackMax600 {
    0% {
       transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-110deg);
    }

    100% {
       transform: rotate(-90deg);
    }
}

@keyframes animFlipRotateFont {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animFlipRotateBack {
    0% {
        transform: rotate(0deg)  rotateX(-180deg);
    }

    50% {
        
        transform: rotate(20deg)  rotateX(-180deg);
    }

    100% {
        transform: rotate(0deg)  rotateX(-180deg);
    }
}