#TechinIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6C9BCF;
    position: relative;
    width: 100%;
}

#clipboard {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ddd; */
    position: relative;
    justify-content: center;
    z-index: 1;
}

#imgClipboard {
    position: absolute;
    z-index: 1;
}

#imgHeadLetter {
    position: absolute;
    z-index: 0;
}

#imgTailLetter {
    position: absolute;
    z-index: 0;
}

@keyframes fadeRightHead {
    0% {
        right: 395px;
        z-index: 0;
    }

    40% {
        right: 395px;
        z-index: 0;
        opacity: 1;
    }

    80% {
        right: 350px;
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeRightHead1200 {
    0% {
        right: 580px;
        z-index: 0;
    }

    40% {
        right: 580px;
        z-index: 0;
        opacity: 1;
    }

    80% {
        right: 540px;
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeRightTail {
    0% {
        right: 0;
        z-index: 2;
    }

    40% {
        right: 0;
        z-index: 2;
        opacity: 1;
    }

    80% {
        right: -50px;
        opacity: 0
    }

    100% {
        opacity: 1;
        z-index: 0;
    }
}

@keyframes fadeRightTail600 {
    0% {
        right: -10px;
        z-index: 2;
    }

    40% {
        right: -10px;
        z-index: 2;
        opacity: 1;
    }

    80% {
        right: -60px;
        opacity: 0
    }

    100% {
        opacity: 1;
        z-index: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ScrollfadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes clipboardFlipY {
    0% {
        transform: rotateY(10deg) skewY(-10deg) scaleY(0.1);
        opacity: 0.7;
    }
    30% {transform: rotateY(0deg);}
    100% {
        transform: rotateY(0deg) skewY(0deg) scaleY(1);
        opacity: 1;}
}

@keyframes ScrollfadeDownMobile {
    0% {
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        opacity: 1;
        margin-top: -180px;
    }
}

#ScrollDown {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#ScrollDown>a {
    position: relative;
    padding-top: 70px;
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: 2px;
    text-decoration: none;
    margin-bottom: -50px;
}

#ScrollDown>a span {
    position: absolute;
    top: 0;
    right: calc(50% - 15px);
    bottom: 50px;
    left: calc(50% - 15px);
    width: 30px;
    border: 2px solid #fff;
    border-radius: 16px;
}

#ScrollDown>a span::before {
    opacity: 0;
    position: absolute;
    top: 8px;
    right: calc(50% - 3px);
    left: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(252, 107, 107);
    content: '';
    animation: down 1.5s linear infinite;
}

#ScrollDown>a {
    font-size: 1em;
}

@keyframes down {
    0% {
        opacity: 0;
        top: 3px;
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 43px;
    }
}


@media screen and (max-width: 600px) {
    #TechinIn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #6C9BCF;
        position: relative;
        width: 100%;
    }
    #clipboard {
        width: 300px;
        height: 700px;
        margin-top: 20px;
        animation: clipboardFlipY 2s ease-out;
    }

    #imgClipboard {
        height: 490px;
        width: 100%;
        top: 0;
        left: 0;
    }

    #imgHeadLetter {
        width: 0;
        height: 0;
    }

    #imgTailLetter {
        width: 0;
        height: 0;
    }
    #ScrollDown {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: auto;
        margin-top: -180px;
        animation: ScrollfadeDownMobile 3s ease;
    }

}

@media screen and (min-width: 600px) {
    #clipboard {
        margin-top: 10px;
        padding: 20px;
        padding-left: 50px;
        width: auto;
        animation: fadeIn 1s ease;
        height: auto;
    }
    
    #imgClipboard {
        left: -50px;
        top: 0;
        width: calc(100% + 60px);
        height: 100%;
        filter: drop-shadow(0px 0px 5px black);

        margin-top: auto;
    }
    
    #imgHeadLetter {
        width: 155px;
        height: 351px;
        top: -10px;
        right: 376px;
        animation: fadeRightHead 2s ease;
    }
    
    #imgTailLetter {
        width: 530px;
        height: 350px;
        top: -10px;
        right: -50px;
        animation: fadeRightTail600 2s ease;
    }

    #ScrollDown {
        height: 100px;
        width: 100%;
        padding: 20px;
        margin-bottom: -20px;
        margin-top: 36px;
        animation: ScrollfadeDown 1.5s ease;
    }
    
}

@media screen and (min-width: 700px) {
    #imgClipboard {
        left: -65px;
        top: 0;
        width: calc(100% + 65px);
        height: 100%;
    }
    #imgHeadLetter {
        width: 200px;
        height: 410px;
        top: -30px;
        right: 400px;
    }
    
    #imgTailLetter {
        width: 550px;
        height: 410px;
        top: -30px;
        right: -20px;
    }
}

@media screen and (min-width: 1200px) {
    #clipboard {
        padding: 30px;
        padding-left: 110px;
        width: 700px;
    }

    #imgHeadLetter {
        width: 250px;
        height: 552px;
        top: -30px;
        right: 560px;
        animation: fadeRightHead1200 2s ease;
    }

    #imgTailLetter {
        width: 750px;
        height: 550px;
        top: -30px;
        right: -20px;
    }
}

@media screen and (min-width: 1700px) {
    #clipboard {
        z-index: 1;
    }

}

.ScrollDownFadeOut {
    transition: opacity 0.5s;
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}