.ListSkill{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.ListSkill li{
    width: 120px;
    height: auto;
    text-align: center;
}

.ListSkill >li img{
    width: 80px;
    height: auto;
}

.ListSkill >li>div{
    width: 120px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ListSkill >li>p{
    margin-top: 5px;
}


